asgiref==3.5.2
certifi==2022.12.7
charset-normalizer==2.1.1
collection==0.1.6
cvxpy==1.2.2
Django==4.1.4
django-widget-tweaks==1.4.1
djangorestframework==3.7.3
docopt==0.6.2
ecos==2.0.11
idna==3.4
mapping==0.1.6
mysql-connector-python==8.0.29
numpy==1.24.0
osqp==0.6.2.post8
pandas==1.5.2
pipreqs==0.4.11
python-dateutil==2.8.2
pytz==2022.7
qdldl==0.1.5.post2
requests==2.28.1
scipy==1.9.3
scs==3.2.2
six==1.16.0
sqlparse==0.4.2
tzdata==2022.1
urllib3==1.26.13
yarg==0.1.9
